{% extends 'layouts-twig/main.twig' %}

{% block content %}

<h3>Welcome</h3>
<b>Time now : {{ time }}</b>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor ultricies
    efficitur. Aliquam ullamcorper, lacus sed mollis consectetur, libero leo scelerisque felis,
    ultricies tempor nibh mi a lorem. Suspendisse potenti. Ut sed erat varius,
    hendrerit lacus sit amet, egestas tellus. Sed id dolor augue. Donec lacinia
    eros nec luctus vulputate. Curabitur id mauris mollis, laoreet nisl sed,
    malesuada dui. Fusce pellentesque metus at nisi maximus vulputate. Praesent
    sodales, elit ut placerat faucibus, dui nulla viverra leo, eget sollicitudin
    lectus neque viverra libero. Etiam tincidunt nisi sed arcu congue, id bibendum
    nibh elementum. Cras vestibulum enim dolor, ut varius nisl gravida at.
</p>
<p>
    Integer posuere faucibus luctus. Suspendisse tortor nunc, euismod ut ex sit amet,
    sagittis commodo justo. Nulla eget odio efficitur, semper elit id, sodales ipsum.
    Suspendisse ornare ante vel dignissim rhoncus. Phasellus vel placerat nisl. Nulla
    facilisi. Phasellus quis dignissim turpis, vel tempor diam. Proin convallis
    et ante eu volutpat. Sed commodo pellentesque bibendum. Fusce sed orci at ante
    rutrum condimentum. Nunc blandit sodales libero, a egestas lectus. Nullam accumsan
    leo at velit egestas, ac hendrerit ligula elementum. Etiam at iaculis ipsum.
    Curabitur non diam tincidunt, interdum justo lacinia, venenatis libero.
    Duis scelerisque fermentum turpis, sit amet condimentum enim iaculis a.
    Nam commodo quis lorem faucibus placerat.
</p>

{% endblock %}
